<!DOCTYPE html> 
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/foter.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/panel.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <link rel="shortcut icon" sizes="32x32" href="{{ url_for('static', filename='icons/Cosmo_ico.png')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <title>Cosmos-home</title>
    </head>
</html>
<body>

  <div class="header">
    <a class="logo">Космонавтики<img src="/static/icons/rocket.png" style="height: 20px; width: 20px;"></a>
    <div class="header-right">
      <a class="active" href="/">Главная</a>
      <a href="/products">Все новости о космосе</a>
      <a href="/video">Видео из космоса</a>
      <a href="/tickets">Купить билеты</a>
      <a href="/login">Войти</a>
    </div>
  </div>

    <br>
      <header class="header2"  style="margin-top: -17px;">
        <h1 class="headh1 h1" style="font-size: 5rem;" >Первый спутник и ракета в СССР</h1>
      </header>

<div class="cards">
  <div class="card">
    <h2 class="card-title">Первый спутник</h2>
    <img src="/static/images/Satellite.png" alt="">
    <p class="card-desc">«Спу́тник-1» — первый в мире искусственный спутник Земли, советский космический аппарат, запущенный на орбиту 4 октября 1957 года (во время Международного геофизического года).

      Кодовое обозначение спутника — «ПС-1» («Простейший Спутник-1»). Запуск был осуществлён с 5-го научно-исследовательского полигона Министерства обороны СССР «Тюра-Там» (получившего впоследствии открытое наименование космодром «Байконур») на ракете-носителе «Спутник», созданной на базе межконтинентальной баллистической ракеты «Р-7».Перейти к разделу «#Запуск и полёт»</p>
  </div>
  <div class="card">
    <h2 class="card-title">Первая ракета Р-1</h2>
    <img src="/static/images/rocket.jpg" alt="">
    <p class="card-desc">Ракета R-1 (натовское отчетное название SS-1 Scunner, советское кодовое название SA11, индекс GRAU 8A11) была тактической баллистической ракетой, первой произведенной в Советском Союзе и основанной на немецкой ракете V-2. Ракетный комплекс Р-1 поступил на вооружение Советской Армии 28 ноября 1950 года.
    </p>
  </div>
</div>

<br><br><br><br>
<div class="test">
  <p style="text-align: center; margin-top: 20px; font-size:50px;">первая ракета в космосе</p>
</div>

<br><br><br><br>
<div class="first_page">
  <div class="wrapper">
    <div class="content-splitter">
      <div class="left">
        <div class="block">
          <div class="headerbox">первая ракета в космосе </div>
          <div class="content">4 октября 1957 года в 22 часа 28 минут 34 секунды по московскому времени боевым расчетом 5-го ниип МО СССР со стартовой площадки № 1 ракетой-носителем Р-7 был выведен на околоземную орбиту первый в мире ИСЗ. МБР Р-7 стала первой космической ракетой, прототипом ракет-носителей для осуществления программы пилотируемых космических полетов.</div>
          <video controls width="400" height="300" style="margin-left: 400px; border-radius: 25px; margin-top: -27px;">
            <source src="/static/video/rocket1.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">

          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4">

          </div>
        </div>
      </div>

    <footer class="footer-distributed">
      <div class="footer-right">
        <br>
        <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew"><i class="fa fa-youtube"></i></a>
        <a href="https://t.me/+44uvzl2TzSo5NGEy"><i class="fa fa-telegram"></i></a>
        <a href="https://vk.com/id597169928"><i class="fa fa-vk"></i></a>
        <a href="https://github.com/MishaelBoss"><i class="fa fa-github"></i></a>
      </div>
      <div class="footer-left">

        <p class="footer-links">
          <a class="link-1" href="/">Главная</a>

          <a href="https://www.youtube.com/channel/UCgMNXe8ooAQdunLHOkztAew">Мой блог</a>

          <a href="/About">Обо мне</a>
        </p>
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Обл: Свердловская</span>Город: Новоуральск</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+7.902.446.4388</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">michaelvoov@yandex.ru</a></p>
          </div>
        </div>
        <p style="margin-left: 820px;">Mikhaelovsk &copy; 2023</p>
      </div>
    </footer>
</body>